/Library
/Logs
/ProjectSettings
/Temp
/Packages
/obj
/.vs

*.csproj
*.sln
*.vsconfig

/Assets/Art
/Assets/Data
/Assets/Materials
/Assets/Settings
/Assets/Scripts/3rdparty

*.meta
*.asset
*.prefab
*.unity
*.mat